<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>証券コード</th>
          <th>名称</th>
          <th>市場</th>
          <th>業種</th>
        </tr>
      </thead>
      <tbody>
        <%for(var key in stocks){-%>
          <tr scope="row">
            <td><%=stocks[key].id-%></td>
            <td><%=stocks[key].code-%></td>
            <td>
              <a href="/stock/show_datas?stock_code=<%=stocks[key].code%>">
                <%=stocks[key].name-%>
              </a>
              <span class="badge badge-<%=parseInt(stocks[key].pre)<0?'danger':'success'%>">
                <%=stocks[key].pre-%>(<%=stocks[key].pre_per-%>)
              </span>
            </td>
            <td><%=stocks[key].market-%></td>
            <td><%=stocks[key].industry_type-%></td>
          </tr>
        <%}-%>
      </tbody>
    </table>
  </div>
</div>
