
<div class="row">
  <div class="col-12">

    <%for(var key in stocks){-%>
      <a href="/stock/show_datas?stock_code=<%=stocks[key].code%>">
      <div class="card" style="margin: 10px;<%if(stocks[key].id%2==1){-%>background-color:#EEE;<%}-%>>">
          <div class="row">
            <div class="col-10">
                <div class="card-block">
                  <h5 class="card-title"> <%=stocks[key].name-%><span class="badge badge-default" style="background-color:#A5A5A5;">&nbsp;<%=stocks[key].code-%></span> </h5>
                  <p class="card-text"> <%=stocks[key].market-%> / <%=stocks[key].industry_type-%> </p>
                </div>
            </div>
            <div class="col-2"　style="position: relative;">
              <i class="material-icons" style="position:absolute;top:0;bottom:0;margin:auto;">navigate_next</i>
            </div>
          </div>
      </div>
      </a>
    <%}-%>

  </div>
</div>
