<style>
ol, ul, dl {
    margin: 16px 16px;
}
</style>

<div class="row">
  <div class="col">
    <%#ページネーション%>
    <nav aria-label="...">
      <ul class="pagination">
        <%#ページネーション-PREV%>
        <li class="page-item <%=pagenation.prev?'':'disabled'-%>" style="width: 100%;">
          <%if(pagenation.prev){-%>
            <a class="page-link" href="/stock/list?page=<%=parseInt(page_option.page)-3-%>&limit=<%=page_option.default_count-%>">&laquo;</a>
          <%}else{-%>
            <span class="page-link">&laquo;</span>
          <%}-%>
        </li>

        <%#ページネーション-NUMS%>
        <%for(var key in pagenation.nums){-%>
          <%if(page_option.page == pagenation.nums[key]){-%>
            <li class="page-item active" style="width: 100%;">
              <span class="page-link">
                <%=pagenation.nums[key]-%>
                <span class="sr-only">(current)</span>
              </span>
            </li>
          <%}else{-%>
            <li class="page-item" style="width: 100%;"><a class="page-link" href="/stock/list?page=<%=pagenation.nums[key]-%>&limit=<%=page_option.default_count-%>"><%=pagenation.nums[key]-%></a></li>
          <%}-%>
        <%}-%>

        <%#ページネーション-NEXT%>
        <li class="page-item <%=pagenation.next?'':'disabled'-%>" style="width: 100%;">
          <%if(pagenation.next){-%>
            <a class="page-link" href="/stock/list?page=<%=parseInt(page_option.page)+3-%>&limit=<%=page_option.default_count-%>">&raquo;</a>
          <%}else{-%>
            <span class="page-link">&raquo;</span>
          <%}-%>
        </li>
      </ul>
    </nav>
  </div>
</div>
