<!DOCTYPE html>
<html>
  <head>
    <title><%-title-%></title>
    <meta charset="utf-8">
    <%- include ../template/bootstrap.ejs %>
  </head>
  <body style="/*margin:0px;*/">
    <%- include('navbar.ejs', {sub_title: sub_title, description: description}) %>
    <hr>
    <%- include header.ejs %>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>証券コード</th>
          <th>名称</th>
          <th>市場</th>
          <th>業種</th>
        </tr>
      </thead>
      <tbody>
        <%for(var key in stocks){-%>
          <tr>
            <td><%=stocks[key].id-%></td>
            <td><%=stocks[key].code-%></td>
            <td>
              <a href="/stock/show_datas?stock_code=<%=stocks[key].code%>">
                <%=stocks[key].name-%></td>
              </a>
            </td>
            <td><%=stocks[key].market-%></td>
            <td><%=stocks[key].industry_type-%></td>
          </tr>
        <%}-%>
      </tbody>
    </table>
    <%- include footer.ejs %>
  </body>
</html>
