<!DOCTYPE html>
<html>
  <head>
    <title>投資指標データ-<%-title-%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%- include(`${___app_dir}/views/template/all_template.ejs`) %>
    <%- include ../template/bootstrap.ejs %>
    <%- include ../template/material_icons.ejs %>
    <style>
    .row{
      padding: 10px 0px 10px;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('navbar.ejs', {sub_title: sub_title, description: description}) %>
      <hr>
      <%- include header.ejs %>

      <%- include template/stock_history.ejs%>

      <%- include template/stock_list_pagenation.ejs %>
      <%if(device_type=='pc'){-%>
        <%- include template/pc_stock_list.ejs %>
      <%}else if(device_type=='sp'){-%>
        <%- include template/sp_stock_list.ejs %>
      <%}-%>
      <%- include template/stock_list_pagenation.ejs %>

      <%- include footer.ejs %>
    </div>
  </body>
</html>
