<!DOCTYPE html>
<html>
  <head>
    <title>投資指標データ-<%-title-%>-<%-sub_title-%></title>
    <meta charset="utf-8">
    <%- include ../template/bootstrap.ejs %>
    <%- include ../template/d3js.ejs %>
    <style type="text/css">
    /* d3js linechart css */
    .line {
        fill: none;
        stroke: #ffab00;
        stroke-width: 3;
    }
    .dot {
        fill: #ffab00;
        stroke: #fff;
    }
    </style>
    <script id="stock_price_datas" type="application/json"><%-JSON.stringify(stock_price_datas)-%></script>
  </head>
  <body style="/*margin:0px;*/">
    <div class="container">
      <%- include('navbar.ejs', {sub_title: sub_title, description: description}) %>
      <hr>
      <%- include header.ejs %>
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-light bg-faded">
            <h1 class="navbar-brand mb-0">終値グラフ</h1>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!--終値可視化-->
          <div class="view_stock_prices"></div>
          <script src="/javascripts/stock/final_prices_chart.js"></script>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <nav class="navbar navbar-light bg-faded">
            <h1 class="navbar-brand mb-0">Analysis</h1>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!--解析結果可視化-->
          <div class="view_stock_prices_zero"></div>
          <script src="/javascripts/stock/final_prices_zero_chart.js"></script>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <nav class="navbar navbar-light bg-faded">
            <h1 class="navbar-brand mb-0">詳細データ一覧</h1>
          </nav>
        </div>
      </div>

      <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>日時</th>
                <th>株価</th>
                <th>前日比</th>
                <th>前日比(％)</th>
                <th>前日終値</th>
                <th>始値</th>
                <th>高値</th>
                <th>安値</th>
                <th>出来高</th>
                <th>売買代金(千円)</th>
                <th>時価総額(百万円)</th>
                <th>値幅下限</th>
                <th>値幅上限</th>
              </tr>
            </thead>
            <tbody>
              <%for(var dairy_key in stock_price_datas){ -%>
                <tr scope="row">
                  <td><%=dateformat(stock_price_datas[dairy_key]['datetime'], 'yyyy/mm/dd');-%></td>
                  <td><%=stock_price_datas[dairy_key]['stock_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['pre']-%></td>
                  <td><%=stock_price_datas[dairy_key]['pre_per']-%></td>
                  <td><%=stock_price_datas[dairy_key]['pre_close_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['open_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['high_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['low_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['yield']-%></td>
                  <td><%=stock_price_datas[dairy_key]['trading_price']-%></td>
                  <td><%=stock_price_datas[dairy_key]['market_capitalization']-%></td>
                  <td><%=stock_price_datas[dairy_key]['price_low_limit']-%></td>
                  <td><%=stock_price_datas[dairy_key]['price_upper_limit']-%></td>
                </tr>
              <%} -%>
            </tbody>
          </table>
      </div>
      <%- include footer.ejs %>
  </div>
  </body>
</html>
